/* Nav Style */

#appName {
  font-size: 40px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: #fff;
}

#groupName {
  font-size: 21px;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}
