.photo {
  max-width: 450px;
  margin: auto;
  margin-bottom: 18px;
}

.imageSource {
  border-color: #fff;
  padding: 2px;
}

.description {
  padding: 10px;
  padding-bottom: 0px;
  border-top: 1px solid #e6e6e6;
}

.descriptionText {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #333;
}

.date {
  padding: 4px;
  padding-top: 0px;
}

.dateText {
  color: #a6a6a6;
  font-size: 14px;
}
