/* Body Style */

body {
  background-color: #f26161;
}

.bodyWrapper {
  margin-top: 75px;
}

#appName {
  font-size: 73px;
  font-family: 'Lato', sans-serif;
  color: #fff;
}

.text {
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

.createGroupWrapper {
  margin-top: 74px;
}

.groupForm {
  text-align: center;
}

.formText {
  font-size: 19px;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

#nameField {
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 6px;
}

#submitButton {
  background-color: #79b7f4;
  border: 1px solid #79b7f4;
  color: #fff;
  padding: 4px;
  margin-bottom: 2px;
}
